.container {
    display: grid;
    grid-template-rows: [nav-start] 10% [nav-end main-start] auto [main-end];
    grid-template-columns: [sidebar-start] 25% [sidebar-end main-start] auto [main-end]; 
    height: 100vh;
}

.headerContainer {
    grid-row: nav-start / nav-end;
    grid-column: main-start / main-end;
    background: red;
}

.bodyContainer {
    grid-row: main-start / main-end;
    grid-column: main-start / main-end;
    background: pink;
}

.sidebarContainer {
    grid-row: main-start / main-end;
    grid-column: sidebar-start / sidebar-end;
}